@import "~src/scss/func";

#search {
  position: absolute;
  display: inline-table;
  top: 0;
  left: 0;
  width: 100%;
  height: px2rem(90px);
  background-color: #ececec;
  font-size: 0;
  border-bottom: 1px solid #d9d9d9;
}

.catalog {
  display: table-cell;
  position: relative;
  padding-left: px2rem(25px);
  width: px2rem(120px);
  vertical-align: middle;
  text-align: left;
  @include px2px(font-size, 32px);
  color: #6e6e6f;
  overflow: visible;
  white-space: nowrap;
  &::after {
    content: '\e905';
    font-family: 'icomoon';
  }
  &.show-catalog::after {
    content: '\e904';
    font-family: 'icomoon';
  }
  .black-layout {
    position: fixed;
    display: block;
    top: px2rem(91px);
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
    div {
      height: 100%;
    }
    ul {
      display: block;
      width: 65%;
      height: 100%;
      background-color: #fff;
      overflow-y: auto;
      li {
        display: block;
        padding-left: px2rem(30px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 2.5;
        border: 1px solid #f2f2f2;
      }
    }
  }
}

.search-input-field {
  display: table-cell;
  position: relative;
  width: auto;
  vertical-align: middle;

  &::before {
    content: '\e900';
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'icomoon';
    color: #c9c9c9;
    font-size: px2rem(35px);
  }

  input {
    width: 100%;
    height:  px2rem(60px);
    line-height: px2rem(60px);
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    color: #6e6e6f;
    padding-left: px2rem(60px);
    @include px2px(font-size, 30px);
    box-sizing: border-box;
  }
}

.search-btn {
  display: table-cell;
  vertical-align: middle;
  color: #6e6e6f;
  @include px2px(font-size, 32px);
  text-indent: px2rem(-100px);
  transition: text-indent .3s, padding .3s;
  &.show {
    text-indent: 0;
    padding-left: px2rem(10px);
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-active {
  opacity: 0;
}
.slide-enter-active, .slide-leave-active {
  transition: transform .3s;
}
.slide-enter, .slide-leave-active {
   transform: translateX(-100%);
 }

.list-enter-active, .list-leave-active {
  display: block !important;
  transition: all .6s;
}
.list-enter, .list-leave-active {
  transform: translateX(-350px);
  opacity: 0;
}


