@import "~src/scss/func";

.result-container {
  position: absolute;
  width: 100%;
  top: px2rem(90px);
  background-color: #fff;
  bottom: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.mask-layer {
  position: fixed;
  top: px2rem(90px);
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  .loading-icon {
    position: absolute;
    width: px2rem(200px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.download-icon {
  float: right;
  margin-top: px2rem(30px);
  img {
    width: px2rem(47px);
  }
}

.filename {
  @include px2px(font-size, 32px);
  font-weight: bold;
  color: #292929;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.file-thumb-info {
  //font-size: 0;
  @include px2px(font-size, 28px);
  color: #292929;
  margin-top: px2rem(12px);
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.file-download-info {
  margin-top: px2rem(12px);
  @include px2px(font-size, 24px);
  color: #aaaaaa;
}

.file-thumb-content {
  margin-top: px2rem(15px);
  @include px2px(font-size, 28px);
  line-height: 1.2;
  color: #737373;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.load-more-container {
  padding: px2rem(20px);
  text-align: center;
}

.load-more-report {
  display: inline-block;
  @include px2px(font-size, 32px);
  color: #aaaaaa;
  background-color: #ececec;
  border-radius: 10px;
  @include px2px(padding, 12px);
}

.end-line {
  margin-top: px2rem(30px);
  margin-bottom: px2rem(30px);
  border-top: 1px solid #ccc;
  position: relative;
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: px2rem(10px);
    color: #aaa;
    background: #fff;
    @include px2px(font-size, 32px);
  }
}

.not-found-report {
  position: absolute;
  width: px2rem(400px);
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

